# # Ignore ALL files by default
# *

# # But explicitly KEEP these files
# !README.md
# !.gitignore
# !bed_management
# !readme.md

# # Also keep source code if you want to backup
# # (Remove the # below if you want to keep code in git)
# # !models/
# # !models/*.h
# # !models/*.c
# # !services/
# # !services/*.h
# # !services/*.c
# # !utils/
# # !utils/*.h
# # !utils/*.c
# # !main.c